pos-center()            //居中
  position absolute
  left:0
  right 0
  bottom 0
  top 0
  margin auto  

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

flex-row-around()
  display: -webkit-flex
  display flex
  flex-direction row
  justify-content  space-around